.third ul .push, .third ul .more, .third .master-button {
  padding: 7px;
  border-radius: 2px;
  background-color: #eeeaea; }

.third .wrapper {
  max-width: 90%;
  margin: 20px auto; }
.third ul {
  list-style: none;
  display: flex;
  padding: 0;
  margin: 20px 0; }
  .third ul li {
    padding-right: 10px; }
    .third ul li a {
      text-decoration: none;
      color: #645f5f; }
  .third ul .header1 {
    font-weight: bold;
    font-size: 2rem; }
  .third ul .push {
    margin-left: auto; }
  .third ul .more {
    margin-left: 7px; }
.third .message {
  padding: 10px;
  border: 1px solid #e4e4e4; }
  .third .message span {
    padding: 5px; }
  .third .message .green {
    color: green;
    font-weight: bold; }
  .third .message .blue {
    color: #0649f5; }
.third .master-button {
  width: 100px; }
  .third .master-button select {
    background-color: #eeeaea;
    border: none; }
    .third .master-button select:focus {
      border: none;
      outline: 0px; }
  .third .master-button img {
    width: 15px; }
.third .folder {
  margin: 20px 0; }
.third table {
  border-collapse: collapse;
  width: 100%; }
  .third table th {
    border-bottom: 1px solid #cecece;
    text-align: left; }
  .third table td {
    padding: 10px 0; }

:root {
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif; }

* {
  box-sizing: border-box;
  color: #645f5f; }

body {
  margin: 0;
  padding: 0; }

.container {
  display: grid;
  grid-template-columns: 70px 150px auto 70px;
  grid-template-rows: auto; }

.first {
  background-color: #0649f5; }
  .first .nav {
    margin: 10px auto; }
    .first .nav ul {
      list-style: none;
      display: flex;
      flex-direction: column;
      margin: 0;
      padding: 0;
      height: 100vh; }
      .first .nav ul li {
        padding: 10px 10px 10px 20px; }
        .first .nav ul li img {
          width: 20px; }
        .first .nav ul li .logo {
          margin-left: -5px;
          height: 40px;
          width: 40px; }
      .first .nav ul .push {
        margin-top: auto; }
      .first .nav ul .avater {
        margin-left: -5px;
        border: 2px solid #0649f5;
        background-color: white;
        border-radius: 50px;
        width: 30px; }

.second {
  width: 150px;
  background-color: #eeeaea;
  padding-top: 20px; }
  .second .user-img {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 0 10px; }
    .second .user-img img {
      border: 2px solid #0649f5;
      background-color: #0649f5;
      border-radius: 50px;
      width: 30px; }
    .second .user-img p {
      color: black; }
  .second table {
    padding: 2px 0; }
    .second table td {
      padding-left: 10px;
      height: 30px; }
      .second table td a {
        text-decoration: none; }
      .second table td img {
        max-width: 15px; }

.forth {
  background-color: #eeeaea; }
  .forth .nav {
    display: flex;
    margin-top: 10px;
    flex-direction: column; }
    .forth .nav ul {
      margin: 0;
      list-style: none; }
      .forth .nav ul li {
        padding: 5px 0;
        font-size: 17px; }

/*# sourceMappingURL=style.css.map */
