$primary-color:white;
$secondary-color:rgb(3, 58, 199);
$tertiary-color:#f4f5f7;
$font-color:rgb(100, 95, 95);




%btn{
    padding: 7px;
    border-radius: 2px;
    background-color: $tertiary-color;
}