@import 'config';
@import 'main-page';

:root{
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
}
*{
    box-sizing: border-box;
    color: $font-color;
}

body{
    margin: 0;
    padding:0;
    
   
}
.container{
    
    max-width: 1422px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 70px 150px auto 50px;
      grid-template-rows: auto; 
    //   height: 100vh;
}

.first{
    background-color: $secondary-color;
    .nav{ 
        margin: 10px auto;
   

       ul{
        list-style: none;
        display: flex;
        flex-direction: column;
        margin: 0;
        padding: 0;
        height: 100vh;
        
        li {
            padding: 10px 10px 10px 20px;

            img{
                
                width: 20px;
            }
            .logo{
                margin-left:-5px ;
                height: 40px;
                width: 40px;
            }
        }
        .push{
           margin-top: auto;
        }
        .avater{
            margin-left:-5px ;
            border: 2px solid $secondary-color;
            background-color:$primary-color;
            border-radius: 50px;
            width: 30px;
        }
       }
      
    }


// .push {
    
// }
    
}

.second{
    width:150px ;
    background-color:#f4f5f7 ;
    padding-top: 20px;
    .user-img{
        display: grid;
        grid-template-columns:1fr 1fr 1fr;
        padding: 0 10px;

        img{
            border: 2px solid $secondary-color;
            background-color: $secondary-color;
            border-radius: 50px;
            width: 30px;
        }
        p{
            color: black;
        }
    }

    table{
        padding: 2px 0;
        td {
            padding-left:10px;
            height: 30px;
            a{
                text-decoration: none;
            }
    
            img{
                max-width: 15px;
            }
          }
    }
   
}


.forth{
    background-color: $tertiary-color;
    .nav{
        margin-top: 15px;
        ul{
            margin: 0;
            padding: 0; 
            list-style: none;
            li {
                padding: 5px 1px 5px 20px;
                font-size: 17px;
            }
        }
       
    }
    
}
@import 'mediaQuery';

